<!DOCTYPE html>
<html>
    <head>
        <title>Instagram Prototype</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="http://secondstreet.com/media/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="/css/app.css" type="text/css"/>
    </head>
    <body>
        <div class="application-container">
            {{{body}}}
        </div>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>