<div class="search-panel">
    <h3>Search for a hashtag</h3>
    <div class="input-group">
        <input type="text" class="form-control" id="hashtag">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="submit-hashtag">Search!</button>
      </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->